@tailwind base;
@tailwind components;
@tailwind utilities;

* { scrollbar-width: thin; scrollbar-color: #2a2a35 #0a0a0f; }
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-thumb { background: #2a2a35; border-radius: 999px; }
::-webkit-scrollbar-track { background: #0a0a0f; }
